SushiApp/Service References/wsSeguimiento/ServiceSeguimiento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceSeguimiento" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/SushiBackend9/ServiceSeguimiento?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="agregarSeguimiento">
    <part name="parameters" element="tns:agregarSeguimiento" />
  </message>
  <message name="agregarSeguimientoResponse">
    <part name="parameters" element="tns:agregarSeguimientoResponse" />
  </message>
  <message name="modificarSeguimiento">
    <part name="parameters" element="tns:modificarSeguimiento" />
  </message>
  <message name="modificarSeguimientoResponse">
    <part name="parameters" element="tns:modificarSeguimientoResponse" />
  </message>
  <message name="obtenerSeguimiento">
    <part name="parameters" element="tns:obtenerSeguimiento" />
  </message>
  <message name="obtenerSeguimientoResponse">
    <part name="parameters" element="tns:obtenerSeguimientoResponse" />
  </message>
  <message name="eliminarSeguimiento">
    <part name="parameters" element="tns:eliminarSeguimiento" />
  </message>
  <message name="eliminarSeguimientoResponse">
    <part name="parameters" element="tns:eliminarSeguimientoResponse" />
  </message>
  <message name="buscarSeguimiento">
    <part name="parameters" element="tns:buscarSeguimiento" />
  </message>
  <message name="buscarSeguimientoResponse">
    <part name="parameters" element="tns:buscarSeguimientoResponse" />
  </message>
  <portType name="ServiceSeguimiento">
    <operation name="agregarSeguimiento">
      <input wsam:Action="http://WebService/ServiceSeguimiento/agregarSeguimientoRequest" message="tns:agregarSeguimiento" />
      <output wsam:Action="http://WebService/ServiceSeguimiento/agregarSeguimientoResponse" message="tns:agregarSeguimientoResponse" />
    </operation>
    <operation name="modificarSeguimiento">
      <input wsam:Action="http://WebService/ServiceSeguimiento/modificarSeguimientoRequest" message="tns:modificarSeguimiento" />
      <output wsam:Action="http://WebService/ServiceSeguimiento/modificarSeguimientoResponse" message="tns:modificarSeguimientoResponse" />
    </operation>
    <operation name="obtenerSeguimiento">
      <input wsam:Action="http://WebService/ServiceSeguimiento/obtenerSeguimientoRequest" message="tns:obtenerSeguimiento" />
      <output wsam:Action="http://WebService/ServiceSeguimiento/obtenerSeguimientoResponse" message="tns:obtenerSeguimientoResponse" />
    </operation>
    <operation name="eliminarSeguimiento">
      <input wsam:Action="http://WebService/ServiceSeguimiento/eliminarSeguimientoRequest" message="tns:eliminarSeguimiento" />
      <output wsam:Action="http://WebService/ServiceSeguimiento/eliminarSeguimientoResponse" message="tns:eliminarSeguimientoResponse" />
    </operation>
    <operation name="buscarSeguimiento">
      <input wsam:Action="http://WebService/ServiceSeguimiento/buscarSeguimientoRequest" message="tns:buscarSeguimiento" />
      <output wsam:Action="http://WebService/ServiceSeguimiento/buscarSeguimientoResponse" message="tns:buscarSeguimientoResponse" />
    </operation>
  </portType>
  <binding name="ServiceSeguimientoPortBinding" type="tns:ServiceSeguimiento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="agregarSeguimiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSeguimiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerSeguimiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSeguimiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarSeguimiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceSeguimiento">
    <port name="ServiceSeguimientoPort" binding="tns:ServiceSeguimientoPortBinding">
      <soap:address location="http://localhost:8084/SushiBackend9/ServiceSeguimiento" />
    </port>
  </service>
</definitions>