SushiApp/Service References/wsSeguimiento/ServiceSeguimiento.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarSeguimiento" type="tns:agregarSeguimiento" />
  <xs:element name="agregarSeguimientoResponse" type="tns:agregarSeguimientoResponse" />
  <xs:element name="buscarSeguimiento" type="tns:buscarSeguimiento" />
  <xs:element name="buscarSeguimientoResponse" type="tns:buscarSeguimientoResponse" />
  <xs:element name="eliminarSeguimiento" type="tns:eliminarSeguimiento" />
  <xs:element name="eliminarSeguimientoResponse" type="tns:eliminarSeguimientoResponse" />
  <xs:element name="modificarSeguimiento" type="tns:modificarSeguimiento" />
  <xs:element name="modificarSeguimientoResponse" type="tns:modificarSeguimientoResponse" />
  <xs:element name="obtenerSeguimiento" type="tns:obtenerSeguimiento" />
  <xs:element name="obtenerSeguimientoResponse" type="tns:obtenerSeguimientoResponse" />
  <xs:complexType name="buscarSeguimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarSeguimientoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:seguimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seguimiento">
    <xs:sequence>
      <xs:element name="clienteId" type="xs:int" />
      <xs:element minOccurs="0" name="componente" type="xs:string" />
      <xs:element minOccurs="0" name="evento" type="xs:string" />
      <xs:element name="seguimientoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarSeguimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="seguimiento" type="tns:seguimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarSeguimientoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerSeguimiento">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerSeguimientoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:seguimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSeguimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSeguimientoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarSeguimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="seguimiento" type="tns:seguimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSeguimientoResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>