SushiApp/Service References/wsPedidoCabecera/ServicePedidoCabecera.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PedidoCabecera" type="tns:pedidoCabecera" />
  <xs:element name="agregarPedidoCabecera" type="tns:agregarPedidoCabecera" />
  <xs:element name="agregarPedidoCabeceraResponse" type="tns:agregarPedidoCabeceraResponse" />
  <xs:element name="buscarPedidoCabecera" type="tns:buscarPedidoCabecera" />
  <xs:element name="buscarPedidoCabeceraResponse" type="tns:buscarPedidoCabeceraResponse" />
  <xs:element name="eliminarPedidoCabecera" type="tns:eliminarPedidoCabecera" />
  <xs:element name="eliminarPedidoCabeceraResponse" type="tns:eliminarPedidoCabeceraResponse" />
  <xs:element name="modificarPedidoCabecera" type="tns:modificarPedidoCabecera" />
  <xs:element name="modificarPedidoCabeceraResponse" type="tns:modificarPedidoCabeceraResponse" />
  <xs:element name="obtenerPedidoCabecera" type="tns:obtenerPedidoCabecera" />
  <xs:element name="obtenerPedidoCabeceraResponse" type="tns:obtenerPedidoCabeceraResponse" />
  <xs:complexType name="eliminarPedidoCabecera">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPedidoCabeceraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="buscarPedidoCabecera">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPedidoCabeceraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pedidoCabecera" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoCabecera">
    <xs:sequence>
      <xs:element name="pedidoCabeceraId" type="xs:int" />
      <xs:element name="establecimientoId" type="xs:int" />
      <xs:element name="clienteId" type="xs:int" />
      <xs:element minOccurs="0" name="fechaPedido" type="xs:string" />
      <xs:element minOccurs="0" name="horaPedido" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPedido" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarPedidoCabecera">
    <xs:sequence>
      <xs:element minOccurs="0" name="pedidoCabecera" type="tns:pedidoCabecera" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarPedidoCabeceraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarPedidoCabecera">
    <xs:sequence>
      <xs:element minOccurs="0" name="pedidoCabecera" type="tns:pedidoCabecera" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPedidoCabeceraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerPedidoCabecera">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerPedidoCabeceraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoCabecera" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>