SushiApp/Service References/wsComuna/ServiceComuna.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceComuna" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/SushiBackend9/ServiceComuna?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="eliminarComuna">
    <part name="parameters" element="tns:eliminarComuna" />
  </message>
  <message name="eliminarComunaResponse">
    <part name="parameters" element="tns:eliminarComunaResponse" />
  </message>
  <message name="obtenerComuna">
    <part name="parameters" element="tns:obtenerComuna" />
  </message>
  <message name="obtenerComunaResponse">
    <part name="parameters" element="tns:obtenerComunaResponse" />
  </message>
  <message name="agregarComuna">
    <part name="parameters" element="tns:agregarComuna" />
  </message>
  <message name="agregarComunaResponse">
    <part name="parameters" element="tns:agregarComunaResponse" />
  </message>
  <message name="modificarComuna">
    <part name="parameters" element="tns:modificarComuna" />
  </message>
  <message name="modificarComunaResponse">
    <part name="parameters" element="tns:modificarComunaResponse" />
  </message>
  <message name="buscarComuna">
    <part name="parameters" element="tns:buscarComuna" />
  </message>
  <message name="buscarComunaResponse">
    <part name="parameters" element="tns:buscarComunaResponse" />
  </message>
  <portType name="ServiceComuna">
    <operation name="eliminarComuna">
      <input wsam:Action="http://WebService/ServiceComuna/eliminarComunaRequest" message="tns:eliminarComuna" />
      <output wsam:Action="http://WebService/ServiceComuna/eliminarComunaResponse" message="tns:eliminarComunaResponse" />
    </operation>
    <operation name="obtenerComuna">
      <input wsam:Action="http://WebService/ServiceComuna/obtenerComunaRequest" message="tns:obtenerComuna" />
      <output wsam:Action="http://WebService/ServiceComuna/obtenerComunaResponse" message="tns:obtenerComunaResponse" />
    </operation>
    <operation name="agregarComuna">
      <input wsam:Action="http://WebService/ServiceComuna/agregarComunaRequest" message="tns:agregarComuna" />
      <output wsam:Action="http://WebService/ServiceComuna/agregarComunaResponse" message="tns:agregarComunaResponse" />
    </operation>
    <operation name="modificarComuna">
      <input wsam:Action="http://WebService/ServiceComuna/modificarComunaRequest" message="tns:modificarComuna" />
      <output wsam:Action="http://WebService/ServiceComuna/modificarComunaResponse" message="tns:modificarComunaResponse" />
    </operation>
    <operation name="buscarComuna">
      <input wsam:Action="http://WebService/ServiceComuna/buscarComunaRequest" message="tns:buscarComuna" />
      <output wsam:Action="http://WebService/ServiceComuna/buscarComunaResponse" message="tns:buscarComunaResponse" />
    </operation>
  </portType>
  <binding name="ServiceComunaPortBinding" type="tns:ServiceComuna">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarComuna">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerComuna">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarComuna">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarComuna">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarComuna">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceComuna">
    <port name="ServiceComunaPort" binding="tns:ServiceComunaPortBinding">
      <soap:address location="http://localhost:8084/SushiBackend9/ServiceComuna" />
    </port>
  </service>
</definitions>