SushiApp/Service References/wsRegion/ServiceRegion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceRegion" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/SushiBackend9/ServiceRegion?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="agregarRegion">
    <part name="parameters" element="tns:agregarRegion" />
  </message>
  <message name="agregarRegionResponse">
    <part name="parameters" element="tns:agregarRegionResponse" />
  </message>
  <message name="buscarRegion">
    <part name="parameters" element="tns:buscarRegion" />
  </message>
  <message name="buscarRegionResponse">
    <part name="parameters" element="tns:buscarRegionResponse" />
  </message>
  <message name="obtenerRegion">
    <part name="parameters" element="tns:obtenerRegion" />
  </message>
  <message name="obtenerRegionResponse">
    <part name="parameters" element="tns:obtenerRegionResponse" />
  </message>
  <message name="eliminarRegion">
    <part name="parameters" element="tns:eliminarRegion" />
  </message>
  <message name="eliminarRegionResponse">
    <part name="parameters" element="tns:eliminarRegionResponse" />
  </message>
  <message name="modificarRegion">
    <part name="parameters" element="tns:modificarRegion" />
  </message>
  <message name="modificarRegionResponse">
    <part name="parameters" element="tns:modificarRegionResponse" />
  </message>
  <portType name="ServiceRegion">
    <operation name="agregarRegion">
      <input wsam:Action="http://WebService/ServiceRegion/agregarRegionRequest" message="tns:agregarRegion" />
      <output wsam:Action="http://WebService/ServiceRegion/agregarRegionResponse" message="tns:agregarRegionResponse" />
    </operation>
    <operation name="buscarRegion">
      <input wsam:Action="http://WebService/ServiceRegion/buscarRegionRequest" message="tns:buscarRegion" />
      <output wsam:Action="http://WebService/ServiceRegion/buscarRegionResponse" message="tns:buscarRegionResponse" />
    </operation>
    <operation name="obtenerRegion">
      <input wsam:Action="http://WebService/ServiceRegion/obtenerRegionRequest" message="tns:obtenerRegion" />
      <output wsam:Action="http://WebService/ServiceRegion/obtenerRegionResponse" message="tns:obtenerRegionResponse" />
    </operation>
    <operation name="eliminarRegion">
      <input wsam:Action="http://WebService/ServiceRegion/eliminarRegionRequest" message="tns:eliminarRegion" />
      <output wsam:Action="http://WebService/ServiceRegion/eliminarRegionResponse" message="tns:eliminarRegionResponse" />
    </operation>
    <operation name="modificarRegion">
      <input wsam:Action="http://WebService/ServiceRegion/modificarRegionRequest" message="tns:modificarRegion" />
      <output wsam:Action="http://WebService/ServiceRegion/modificarRegionResponse" message="tns:modificarRegionResponse" />
    </operation>
  </portType>
  <binding name="ServiceRegionPortBinding" type="tns:ServiceRegion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="agregarRegion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarRegion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerRegion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarRegion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarRegion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceRegion">
    <port name="ServiceRegionPort" binding="tns:ServiceRegionPortBinding">
      <soap:address location="http://localhost:8084/SushiBackend9/ServiceRegion" />
    </port>
  </service>
</definitions>