SushiApp/Service References/wsRegion/ServiceRegion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarRegion" type="tns:agregarRegion" />
  <xs:element name="agregarRegionResponse" type="tns:agregarRegionResponse" />
  <xs:element name="buscarRegion" type="tns:buscarRegion" />
  <xs:element name="buscarRegionResponse" type="tns:buscarRegionResponse" />
  <xs:element name="eliminarRegion" type="tns:eliminarRegion" />
  <xs:element name="eliminarRegionResponse" type="tns:eliminarRegionResponse" />
  <xs:element name="modificarRegion" type="tns:modificarRegion" />
  <xs:element name="modificarRegionResponse" type="tns:modificarRegionResponse" />
  <xs:element name="obtenerRegion" type="tns:obtenerRegion" />
  <xs:element name="obtenerRegionResponse" type="tns:obtenerRegionResponse" />
  <xs:complexType name="buscarRegion">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarRegionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:region" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="region">
    <xs:sequence>
      <xs:element name="regionId" type="xs:int" />
      <xs:element minOccurs="0" name="regionNombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarRegion">
    <xs:sequence>
      <xs:element minOccurs="0" name="region" type="tns:region" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarRegionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarRegion">
    <xs:sequence>
      <xs:element minOccurs="0" name="region" type="tns:region" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRegionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarRegion">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRegionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerRegion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerRegionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:region" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>