SushiApp/Service References/wsRegistroPago/ServiceRegistroPago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceRegistroPago" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/SushiBackend9/ServiceRegistroPago?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="agregarResgistroPago">
    <part name="parameters" element="tns:agregarResgistroPago" />
  </message>
  <message name="agregarResgistroPagoResponse">
    <part name="parameters" element="tns:agregarResgistroPagoResponse" />
  </message>
  <message name="eliminarResgistroPago">
    <part name="parameters" element="tns:eliminarResgistroPago" />
  </message>
  <message name="eliminarResgistroPagoResponse">
    <part name="parameters" element="tns:eliminarResgistroPagoResponse" />
  </message>
  <message name="modificarResgistroPago">
    <part name="parameters" element="tns:modificarResgistroPago" />
  </message>
  <message name="modificarResgistroPagoResponse">
    <part name="parameters" element="tns:modificarResgistroPagoResponse" />
  </message>
  <message name="obtenerResgistroPago">
    <part name="parameters" element="tns:obtenerResgistroPago" />
  </message>
  <message name="obtenerResgistroPagoResponse">
    <part name="parameters" element="tns:obtenerResgistroPagoResponse" />
  </message>
  <message name="buscarResgistroPago">
    <part name="parameters" element="tns:buscarResgistroPago" />
  </message>
  <message name="buscarResgistroPagoResponse">
    <part name="parameters" element="tns:buscarResgistroPagoResponse" />
  </message>
  <portType name="ServiceRegistroPago">
    <operation name="agregarResgistroPago">
      <input wsam:Action="http://WebService/ServiceRegistroPago/agregarResgistroPagoRequest" message="tns:agregarResgistroPago" />
      <output wsam:Action="http://WebService/ServiceRegistroPago/agregarResgistroPagoResponse" message="tns:agregarResgistroPagoResponse" />
    </operation>
    <operation name="eliminarResgistroPago">
      <input wsam:Action="http://WebService/ServiceRegistroPago/eliminarResgistroPagoRequest" message="tns:eliminarResgistroPago" />
      <output wsam:Action="http://WebService/ServiceRegistroPago/eliminarResgistroPagoResponse" message="tns:eliminarResgistroPagoResponse" />
    </operation>
    <operation name="modificarResgistroPago">
      <input wsam:Action="http://WebService/ServiceRegistroPago/modificarResgistroPagoRequest" message="tns:modificarResgistroPago" />
      <output wsam:Action="http://WebService/ServiceRegistroPago/modificarResgistroPagoResponse" message="tns:modificarResgistroPagoResponse" />
    </operation>
    <operation name="obtenerResgistroPago">
      <input wsam:Action="http://WebService/ServiceRegistroPago/obtenerResgistroPagoRequest" message="tns:obtenerResgistroPago" />
      <output wsam:Action="http://WebService/ServiceRegistroPago/obtenerResgistroPagoResponse" message="tns:obtenerResgistroPagoResponse" />
    </operation>
    <operation name="buscarResgistroPago">
      <input wsam:Action="http://WebService/ServiceRegistroPago/buscarResgistroPagoRequest" message="tns:buscarResgistroPago" />
      <output wsam:Action="http://WebService/ServiceRegistroPago/buscarResgistroPagoResponse" message="tns:buscarResgistroPagoResponse" />
    </operation>
  </portType>
  <binding name="ServiceRegistroPagoPortBinding" type="tns:ServiceRegistroPago">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="agregarResgistroPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarResgistroPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarResgistroPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerResgistroPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarResgistroPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceRegistroPago">
    <port name="ServiceRegistroPagoPort" binding="tns:ServiceRegistroPagoPortBinding">
      <soap:address location="http://localhost:8084/SushiBackend9/ServiceRegistroPago" />
    </port>
  </service>
</definitions>