SushiApp/Service References/wsCliente/ServiceCliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarCliente" type="tns:agregarCliente" />
  <xs:element name="agregarClienteResponse" type="tns:agregarClienteResponse" />
  <xs:element name="buscarCliente" type="tns:buscarCliente" />
  <xs:element name="buscarClienteResponse" type="tns:buscarClienteResponse" />
  <xs:element name="eliminarCliente" type="tns:eliminarCliente" />
  <xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse" />
  <xs:element name="modificarCliente" type="tns:modificarCliente" />
  <xs:element name="modificarClienteResponse" type="tns:modificarClienteResponse" />
  <xs:element name="obtenerCliente" type="tns:obtenerCliente" />
  <xs:element name="obtenerClienteResponse" type="tns:obtenerClienteResponse" />
  <xs:complexType name="obtenerCliente">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element name="clienteId" type="xs:int" />
      <xs:element minOccurs="0" name="comuna" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" type="xs:string" />
      <xs:element name="telefono" type="xs:int" />
      <xs:element name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarClienteResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="agregarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarClienteResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarClienteResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>