SushiApp/Service References/wsOfertaProducto/ServiceOfertaProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceOfertaProducto" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/SushiBackend9/ServiceOfertaProducto?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="obtenerOfertaProducto">
    <part name="parameters" element="tns:obtenerOfertaProducto" />
  </message>
  <message name="obtenerOfertaProductoResponse">
    <part name="parameters" element="tns:obtenerOfertaProductoResponse" />
  </message>
  <message name="modificarOfertaProducto">
    <part name="parameters" element="tns:modificarOfertaProducto" />
  </message>
  <message name="modificarOfertaProductoResponse">
    <part name="parameters" element="tns:modificarOfertaProductoResponse" />
  </message>
  <message name="eliminarOfertaProducto">
    <part name="parameters" element="tns:eliminarOfertaProducto" />
  </message>
  <message name="eliminarOfertaProductoResponse">
    <part name="parameters" element="tns:eliminarOfertaProductoResponse" />
  </message>
  <message name="buscarOfertaProducto">
    <part name="parameters" element="tns:buscarOfertaProducto" />
  </message>
  <message name="buscarOfertaProductoResponse">
    <part name="parameters" element="tns:buscarOfertaProductoResponse" />
  </message>
  <message name="agregarOfertaProducto">
    <part name="parameters" element="tns:agregarOfertaProducto" />
  </message>
  <message name="agregarOfertaProductoResponse">
    <part name="parameters" element="tns:agregarOfertaProductoResponse" />
  </message>
  <portType name="ServiceOfertaProducto">
    <operation name="obtenerOfertaProducto">
      <input wsam:Action="http://WebService/ServiceOfertaProducto/obtenerOfertaProductoRequest" message="tns:obtenerOfertaProducto" />
      <output wsam:Action="http://WebService/ServiceOfertaProducto/obtenerOfertaProductoResponse" message="tns:obtenerOfertaProductoResponse" />
    </operation>
    <operation name="modificarOfertaProducto">
      <input wsam:Action="http://WebService/ServiceOfertaProducto/modificarOfertaProductoRequest" message="tns:modificarOfertaProducto" />
      <output wsam:Action="http://WebService/ServiceOfertaProducto/modificarOfertaProductoResponse" message="tns:modificarOfertaProductoResponse" />
    </operation>
    <operation name="eliminarOfertaProducto">
      <input wsam:Action="http://WebService/ServiceOfertaProducto/eliminarOfertaProductoRequest" message="tns:eliminarOfertaProducto" />
      <output wsam:Action="http://WebService/ServiceOfertaProducto/eliminarOfertaProductoResponse" message="tns:eliminarOfertaProductoResponse" />
    </operation>
    <operation name="buscarOfertaProducto">
      <input wsam:Action="http://WebService/ServiceOfertaProducto/buscarOfertaProductoRequest" message="tns:buscarOfertaProducto" />
      <output wsam:Action="http://WebService/ServiceOfertaProducto/buscarOfertaProductoResponse" message="tns:buscarOfertaProductoResponse" />
    </operation>
    <operation name="agregarOfertaProducto">
      <input wsam:Action="http://WebService/ServiceOfertaProducto/agregarOfertaProductoRequest" message="tns:agregarOfertaProducto" />
      <output wsam:Action="http://WebService/ServiceOfertaProducto/agregarOfertaProductoResponse" message="tns:agregarOfertaProductoResponse" />
    </operation>
  </portType>
  <binding name="ServiceOfertaProductoPortBinding" type="tns:ServiceOfertaProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerOfertaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarOfertaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarOfertaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarOfertaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarOfertaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceOfertaProducto">
    <port name="ServiceOfertaProductoPort" binding="tns:ServiceOfertaProductoPortBinding">
      <soap:address location="http://localhost:8084/SushiBackend9/ServiceOfertaProducto" />
    </port>
  </service>
</definitions>