SushiApp/Service References/wsProducto/ServiceProducto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarProducto" type="tns:agregarProducto" />
  <xs:element name="agregarProductoResponse" type="tns:agregarProductoResponse" />
  <xs:element name="buscarProducto" type="tns:buscarProducto" />
  <xs:element name="buscarProductoResponse" type="tns:buscarProductoResponse" />
  <xs:element name="eliminarProducto" type="tns:eliminarProducto" />
  <xs:element name="eliminarProductoResponse" type="tns:eliminarProductoResponse" />
  <xs:element name="modificarProducto" type="tns:modificarProducto" />
  <xs:element name="modificarProductoResponse" type="tns:modificarProductoResponse" />
  <xs:element name="obtenerProducto" type="tns:obtenerProducto" />
  <xs:element name="obtenerProductoResponse" type="tns:obtenerProductoResponse" />
  <xs:complexType name="eliminarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="buscarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="categoriaProductoId" type="xs:int" />
      <xs:element minOccurs="0" name="descripcionProducto" type="xs:string" />
      <xs:element name="disponibilidadProducto" type="xs:boolean" />
      <xs:element minOccurs="0" name="imagenProdcuto" type="xs:string" />
      <xs:element minOccurs="0" name="nombreProducto" type="xs:string" />
      <xs:element name="porcionesProdcuto" type="xs:int" />
      <xs:element name="precioProducto" type="xs:int" />
      <xs:element name="productoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="agregarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerProducto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>