SushiApp/Service References/wsPedidoDetalle/ServicePedidoDetalle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServicePedidoDetalle" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/SushiBackend9/ServicePedidoDetalle?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="obtenerPedidoDetalle">
    <part name="parameters" element="tns:obtenerPedidoDetalle" />
  </message>
  <message name="obtenerPedidoDetalleResponse">
    <part name="parameters" element="tns:obtenerPedidoDetalleResponse" />
  </message>
  <message name="agregarPedidoDetalle">
    <part name="parameters" element="tns:agregarPedidoDetalle" />
  </message>
  <message name="agregarPedidoDetalleResponse">
    <part name="parameters" element="tns:agregarPedidoDetalleResponse" />
  </message>
  <message name="modificarPedidoDetalle">
    <part name="parameters" element="tns:modificarPedidoDetalle" />
  </message>
  <message name="modificarPedidoDetalleResponse">
    <part name="parameters" element="tns:modificarPedidoDetalleResponse" />
  </message>
  <message name="buscarPedidoDetalle">
    <part name="parameters" element="tns:buscarPedidoDetalle" />
  </message>
  <message name="buscarPedidoDetalleResponse">
    <part name="parameters" element="tns:buscarPedidoDetalleResponse" />
  </message>
  <message name="eliminarPedidoDetalle">
    <part name="parameters" element="tns:eliminarPedidoDetalle" />
  </message>
  <message name="eliminarPedidoDetalleResponse">
    <part name="parameters" element="tns:eliminarPedidoDetalleResponse" />
  </message>
  <portType name="ServicePedidoDetalle">
    <operation name="obtenerPedidoDetalle">
      <input wsam:Action="http://WebService/ServicePedidoDetalle/obtenerPedidoDetalleRequest" message="tns:obtenerPedidoDetalle" />
      <output wsam:Action="http://WebService/ServicePedidoDetalle/obtenerPedidoDetalleResponse" message="tns:obtenerPedidoDetalleResponse" />
    </operation>
    <operation name="agregarPedidoDetalle">
      <input wsam:Action="http://WebService/ServicePedidoDetalle/agregarPedidoDetalleRequest" message="tns:agregarPedidoDetalle" />
      <output wsam:Action="http://WebService/ServicePedidoDetalle/agregarPedidoDetalleResponse" message="tns:agregarPedidoDetalleResponse" />
    </operation>
    <operation name="modificarPedidoDetalle">
      <input wsam:Action="http://WebService/ServicePedidoDetalle/modificarPedidoDetalleRequest" message="tns:modificarPedidoDetalle" />
      <output wsam:Action="http://WebService/ServicePedidoDetalle/modificarPedidoDetalleResponse" message="tns:modificarPedidoDetalleResponse" />
    </operation>
    <operation name="buscarPedidoDetalle">
      <input wsam:Action="http://WebService/ServicePedidoDetalle/buscarPedidoDetalleRequest" message="tns:buscarPedidoDetalle" />
      <output wsam:Action="http://WebService/ServicePedidoDetalle/buscarPedidoDetalleResponse" message="tns:buscarPedidoDetalleResponse" />
    </operation>
    <operation name="eliminarPedidoDetalle">
      <input wsam:Action="http://WebService/ServicePedidoDetalle/eliminarPedidoDetalleRequest" message="tns:eliminarPedidoDetalle" />
      <output wsam:Action="http://WebService/ServicePedidoDetalle/eliminarPedidoDetalleResponse" message="tns:eliminarPedidoDetalleResponse" />
    </operation>
  </portType>
  <binding name="ServicePedidoDetallePortBinding" type="tns:ServicePedidoDetalle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPedidoDetalle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarPedidoDetalle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPedidoDetalle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarPedidoDetalle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPedidoDetalle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicePedidoDetalle">
    <port name="ServicePedidoDetallePort" binding="tns:ServicePedidoDetallePortBinding">
      <soap:address location="http://localhost:8084/SushiBackend9/ServicePedidoDetalle" />
    </port>
  </service>
</definitions>