SushiApp/Service References/wsEmail2/wsEmail2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EmailConfirmacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailConfirmacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="EmailBoleta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="boleta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailBoletaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmailConfirmacionSoapIn">
    <wsdl:part name="parameters" element="tns:EmailConfirmacion" />
  </wsdl:message>
  <wsdl:message name="EmailConfirmacionSoapOut">
    <wsdl:part name="parameters" element="tns:EmailConfirmacionResponse" />
  </wsdl:message>
  <wsdl:message name="EmailBoletaSoapIn">
    <wsdl:part name="parameters" element="tns:EmailBoleta" />
  </wsdl:message>
  <wsdl:message name="EmailBoletaSoapOut">
    <wsdl:part name="parameters" element="tns:EmailBoletaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsEmail2Soap">
    <wsdl:operation name="EmailConfirmacion">
      <wsdl:input message="tns:EmailConfirmacionSoapIn" />
      <wsdl:output message="tns:EmailConfirmacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmailBoleta">
      <wsdl:input message="tns:EmailBoletaSoapIn" />
      <wsdl:output message="tns:EmailBoletaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsEmail2Soap" type="tns:wsEmail2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmailConfirmacion">
      <soap:operation soapAction="http://tempuri.org/EmailConfirmacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailBoleta">
      <soap:operation soapAction="http://tempuri.org/EmailBoleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsEmail2Soap12" type="tns:wsEmail2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmailConfirmacion">
      <soap12:operation soapAction="http://tempuri.org/EmailConfirmacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailBoleta">
      <soap12:operation soapAction="http://tempuri.org/EmailBoleta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsEmail2">
    <wsdl:port name="wsEmail2Soap" binding="tns:wsEmail2Soap">
      <soap:address location="http://localhost:2205/wsEmail2.asmx" />
    </wsdl:port>
    <wsdl:port name="wsEmail2Soap12" binding="tns:wsEmail2Soap12">
      <soap12:address location="http://localhost:2205/wsEmail2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>