SushiApp/Service References/wsAdministrador/ServiceAdministrador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceAdministrador" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/SushiBackend9/ServiceAdministrador?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="agregarAdministrador">
    <part name="parameters" element="tns:agregarAdministrador" />
  </message>
  <message name="agregarAdministradorResponse">
    <part name="parameters" element="tns:agregarAdministradorResponse" />
  </message>
  <message name="eliminarAdministrador">
    <part name="parameters" element="tns:eliminarAdministrador" />
  </message>
  <message name="eliminarAdministradorResponse">
    <part name="parameters" element="tns:eliminarAdministradorResponse" />
  </message>
  <message name="obtenerAdministrador">
    <part name="parameters" element="tns:obtenerAdministrador" />
  </message>
  <message name="obtenerAdministradorResponse">
    <part name="parameters" element="tns:obtenerAdministradorResponse" />
  </message>
  <message name="modificarAdministrador">
    <part name="parameters" element="tns:modificarAdministrador" />
  </message>
  <message name="modificarAdministradorResponse">
    <part name="parameters" element="tns:modificarAdministradorResponse" />
  </message>
  <message name="buscarAdministrador">
    <part name="parameters" element="tns:buscarAdministrador" />
  </message>
  <message name="buscarAdministradorResponse">
    <part name="parameters" element="tns:buscarAdministradorResponse" />
  </message>
  <portType name="ServiceAdministrador">
    <operation name="agregarAdministrador">
      <input wsam:Action="http://WebService/ServiceAdministrador/agregarAdministradorRequest" message="tns:agregarAdministrador" />
      <output wsam:Action="http://WebService/ServiceAdministrador/agregarAdministradorResponse" message="tns:agregarAdministradorResponse" />
    </operation>
    <operation name="eliminarAdministrador">
      <input wsam:Action="http://WebService/ServiceAdministrador/eliminarAdministradorRequest" message="tns:eliminarAdministrador" />
      <output wsam:Action="http://WebService/ServiceAdministrador/eliminarAdministradorResponse" message="tns:eliminarAdministradorResponse" />
    </operation>
    <operation name="obtenerAdministrador">
      <input wsam:Action="http://WebService/ServiceAdministrador/obtenerAdministradorRequest" message="tns:obtenerAdministrador" />
      <output wsam:Action="http://WebService/ServiceAdministrador/obtenerAdministradorResponse" message="tns:obtenerAdministradorResponse" />
    </operation>
    <operation name="modificarAdministrador">
      <input wsam:Action="http://WebService/ServiceAdministrador/modificarAdministradorRequest" message="tns:modificarAdministrador" />
      <output wsam:Action="http://WebService/ServiceAdministrador/modificarAdministradorResponse" message="tns:modificarAdministradorResponse" />
    </operation>
    <operation name="buscarAdministrador">
      <input wsam:Action="http://WebService/ServiceAdministrador/buscarAdministradorRequest" message="tns:buscarAdministrador" />
      <output wsam:Action="http://WebService/ServiceAdministrador/buscarAdministradorResponse" message="tns:buscarAdministradorResponse" />
    </operation>
  </portType>
  <binding name="ServiceAdministradorPortBinding" type="tns:ServiceAdministrador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="agregarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceAdministrador">
    <port name="ServiceAdministradorPort" binding="tns:ServiceAdministradorPortBinding">
      <soap:address location="http://localhost:8084/SushiBackend9/ServiceAdministrador" />
    </port>
  </service>
</definitions>