SushiApp/Service References/wsAdministrador/ServiceAdministrador1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarAdministrador" type="tns:agregarAdministrador" />
  <xs:element name="agregarAdministradorResponse" type="tns:agregarAdministradorResponse" />
  <xs:element name="buscarAdministrador" type="tns:buscarAdministrador" />
  <xs:element name="buscarAdministradorResponse" type="tns:buscarAdministradorResponse" />
  <xs:element name="eliminarAdministrador" type="tns:eliminarAdministrador" />
  <xs:element name="eliminarAdministradorResponse" type="tns:eliminarAdministradorResponse" />
  <xs:element name="modificarAdministrador" type="tns:modificarAdministrador" />
  <xs:element name="modificarAdministradorResponse" type="tns:modificarAdministradorResponse" />
  <xs:element name="obtenerAdministrador" type="tns:obtenerAdministrador" />
  <xs:element name="obtenerAdministradorResponse" type="tns:obtenerAdministradorResponse" />
  <xs:complexType name="buscarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administrador">
    <xs:sequence>
      <xs:element name="administradorId" type="xs:int" />
      <xs:element minOccurs="0" name="apellidoAdmin" type="xs:string" />
      <xs:element minOccurs="0" name="corrreoAdmin" type="xs:string" />
      <xs:element minOccurs="0" name="nombreAdmin" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoAdmin" type="xs:string" />
      <xs:element name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarAdministradorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerAdministrador">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministradorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAdministradorResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>