SushiApp/Service References/wsOferta/ServiceOferta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceOferta" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/SushiBackend9/ServiceOferta?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="agregarOferta">
    <part name="parameters" element="tns:agregarOferta" />
  </message>
  <message name="agregarOfertaResponse">
    <part name="parameters" element="tns:agregarOfertaResponse" />
  </message>
  <message name="obtenerOferta">
    <part name="parameters" element="tns:obtenerOferta" />
  </message>
  <message name="obtenerOfertaResponse">
    <part name="parameters" element="tns:obtenerOfertaResponse" />
  </message>
  <message name="eliminarOferta">
    <part name="parameters" element="tns:eliminarOferta" />
  </message>
  <message name="eliminarOfertaResponse">
    <part name="parameters" element="tns:eliminarOfertaResponse" />
  </message>
  <message name="buscarOferta">
    <part name="parameters" element="tns:buscarOferta" />
  </message>
  <message name="buscarOfertaResponse">
    <part name="parameters" element="tns:buscarOfertaResponse" />
  </message>
  <message name="modificarOferta">
    <part name="parameters" element="tns:modificarOferta" />
  </message>
  <message name="modificarOfertaResponse">
    <part name="parameters" element="tns:modificarOfertaResponse" />
  </message>
  <portType name="ServiceOferta">
    <operation name="agregarOferta">
      <input wsam:Action="http://WebService/ServiceOferta/agregarOfertaRequest" message="tns:agregarOferta" />
      <output wsam:Action="http://WebService/ServiceOferta/agregarOfertaResponse" message="tns:agregarOfertaResponse" />
    </operation>
    <operation name="obtenerOferta">
      <input wsam:Action="http://WebService/ServiceOferta/obtenerOfertaRequest" message="tns:obtenerOferta" />
      <output wsam:Action="http://WebService/ServiceOferta/obtenerOfertaResponse" message="tns:obtenerOfertaResponse" />
    </operation>
    <operation name="eliminarOferta">
      <input wsam:Action="http://WebService/ServiceOferta/eliminarOfertaRequest" message="tns:eliminarOferta" />
      <output wsam:Action="http://WebService/ServiceOferta/eliminarOfertaResponse" message="tns:eliminarOfertaResponse" />
    </operation>
    <operation name="buscarOferta">
      <input wsam:Action="http://WebService/ServiceOferta/buscarOfertaRequest" message="tns:buscarOferta" />
      <output wsam:Action="http://WebService/ServiceOferta/buscarOfertaResponse" message="tns:buscarOfertaResponse" />
    </operation>
    <operation name="modificarOferta">
      <input wsam:Action="http://WebService/ServiceOferta/modificarOfertaRequest" message="tns:modificarOferta" />
      <output wsam:Action="http://WebService/ServiceOferta/modificarOfertaResponse" message="tns:modificarOfertaResponse" />
    </operation>
  </portType>
  <binding name="ServiceOfertaPortBinding" type="tns:ServiceOferta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="agregarOferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerOferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarOferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarOferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarOferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceOferta">
    <port name="ServiceOfertaPort" binding="tns:ServiceOfertaPortBinding">
      <soap:address location="http://localhost:8084/SushiBackend9/ServiceOferta" />
    </port>
  </service>
</definitions>