SushiApp/Service References/wsProvincia/ServiceProvincia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarProvincia" type="tns:agregarProvincia" />
  <xs:element name="agregarProvinciaResponse" type="tns:agregarProvinciaResponse" />
  <xs:element name="buscarProvincia" type="tns:buscarProvincia" />
  <xs:element name="buscarProvinciaResponse" type="tns:buscarProvinciaResponse" />
  <xs:element name="eliminarProvincia" type="tns:eliminarProvincia" />
  <xs:element name="eliminarProvinciaResponse" type="tns:eliminarProvinciaResponse" />
  <xs:element name="modificarProvincia" type="tns:modificarProvincia" />
  <xs:element name="modificarProvinciaResponse" type="tns:modificarProvinciaResponse" />
  <xs:element name="obtenerProvincia" type="tns:obtenerProvincia" />
  <xs:element name="obtenerProvinciaResponse" type="tns:obtenerProvinciaResponse" />
  <xs:complexType name="agregarProvincia">
    <xs:sequence>
      <xs:element minOccurs="0" name="provincia" type="tns:provincia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="provincia">
    <xs:sequence>
      <xs:element name="provinciaId" type="xs:int" />
      <xs:element minOccurs="0" name="provinciaNombre" type="xs:string" />
      <xs:element name="regionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarProvinciaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerProvincia">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerProvinciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:provincia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProvincia">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProvinciaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="buscarProvincia">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarProvinciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:provincia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProvincia">
    <xs:sequence>
      <xs:element minOccurs="0" name="provincia" type="tns:provincia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProvinciaResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>