SushiApp/Service References/wsPagina/ServicePagina.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarPagina" type="tns:agregarPagina" />
  <xs:element name="agregarPaginaResponse" type="tns:agregarPaginaResponse" />
  <xs:element name="buscarPagina" type="tns:buscarPagina" />
  <xs:element name="buscarPaginaResponse" type="tns:buscarPaginaResponse" />
  <xs:element name="eliminarPagina" type="tns:eliminarPagina" />
  <xs:element name="eliminarPaginaResponse" type="tns:eliminarPaginaResponse" />
  <xs:element name="modificarPagina" type="tns:modificarPagina" />
  <xs:element name="modificarPaginaResponse" type="tns:modificarPaginaResponse" />
  <xs:element name="obtenerPagina" type="tns:obtenerPagina" />
  <xs:element name="obtenerPaginaResponse" type="tns:obtenerPaginaResponse" />
  <xs:complexType name="eliminarPagina">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPaginaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="agregarPagina">
    <xs:sequence>
      <xs:element minOccurs="0" name="pagina" type="tns:pagina" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagina">
    <xs:sequence>
      <xs:element minOccurs="0" name="pagina" type="xs:string" />
      <xs:element name="paginaId" type="xs:int" />
      <xs:element minOccurs="0" name="urlPagina" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarPaginaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarPagina">
    <xs:sequence>
      <xs:element minOccurs="0" name="pagina" type="tns:pagina" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPaginaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="buscarPagina">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPaginaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pagina" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPagina">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerPaginaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pagina" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>