SushiApp/Service References/wsTipoPago/ServiceTipoPago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceTipoPago" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/SushiBackend9/ServiceTipoPago?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="obtenerTipoPago">
    <part name="parameters" element="tns:obtenerTipoPago" />
  </message>
  <message name="obtenerTipoPagoResponse">
    <part name="parameters" element="tns:obtenerTipoPagoResponse" />
  </message>
  <message name="buscarTipoPago">
    <part name="parameters" element="tns:buscarTipoPago" />
  </message>
  <message name="buscarTipoPagoResponse">
    <part name="parameters" element="tns:buscarTipoPagoResponse" />
  </message>
  <message name="agregarTipoPago">
    <part name="parameters" element="tns:agregarTipoPago" />
  </message>
  <message name="agregarTipoPagoResponse">
    <part name="parameters" element="tns:agregarTipoPagoResponse" />
  </message>
  <message name="eliminarTipoPago">
    <part name="parameters" element="tns:eliminarTipoPago" />
  </message>
  <message name="eliminarTipoPagoResponse">
    <part name="parameters" element="tns:eliminarTipoPagoResponse" />
  </message>
  <message name="modificarTipoPago">
    <part name="parameters" element="tns:modificarTipoPago" />
  </message>
  <message name="modificarTipoPagoResponse">
    <part name="parameters" element="tns:modificarTipoPagoResponse" />
  </message>
  <portType name="ServiceTipoPago">
    <operation name="obtenerTipoPago">
      <input wsam:Action="http://WebService/ServiceTipoPago/obtenerTipoPagoRequest" message="tns:obtenerTipoPago" />
      <output wsam:Action="http://WebService/ServiceTipoPago/obtenerTipoPagoResponse" message="tns:obtenerTipoPagoResponse" />
    </operation>
    <operation name="buscarTipoPago">
      <input wsam:Action="http://WebService/ServiceTipoPago/buscarTipoPagoRequest" message="tns:buscarTipoPago" />
      <output wsam:Action="http://WebService/ServiceTipoPago/buscarTipoPagoResponse" message="tns:buscarTipoPagoResponse" />
    </operation>
    <operation name="agregarTipoPago">
      <input wsam:Action="http://WebService/ServiceTipoPago/agregarTipoPagoRequest" message="tns:agregarTipoPago" />
      <output wsam:Action="http://WebService/ServiceTipoPago/agregarTipoPagoResponse" message="tns:agregarTipoPagoResponse" />
    </operation>
    <operation name="eliminarTipoPago">
      <input wsam:Action="http://WebService/ServiceTipoPago/eliminarTipoPagoRequest" message="tns:eliminarTipoPago" />
      <output wsam:Action="http://WebService/ServiceTipoPago/eliminarTipoPagoResponse" message="tns:eliminarTipoPagoResponse" />
    </operation>
    <operation name="modificarTipoPago">
      <input wsam:Action="http://WebService/ServiceTipoPago/modificarTipoPagoRequest" message="tns:modificarTipoPago" />
      <output wsam:Action="http://WebService/ServiceTipoPago/modificarTipoPagoResponse" message="tns:modificarTipoPagoResponse" />
    </operation>
  </portType>
  <binding name="ServiceTipoPagoPortBinding" type="tns:ServiceTipoPago">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerTipoPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarTipoPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarTipoPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarTipoPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarTipoPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceTipoPago">
    <port name="ServiceTipoPagoPort" binding="tns:ServiceTipoPagoPortBinding">
      <soap:address location="http://localhost:8084/SushiBackend9/ServiceTipoPago" />
    </port>
  </service>
</definitions>