SushiApp/Service References/wsTipoPago/ServiceTipoPago.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarTipoPago" type="tns:agregarTipoPago" />
  <xs:element name="agregarTipoPagoResponse" type="tns:agregarTipoPagoResponse" />
  <xs:element name="buscarTipoPago" type="tns:buscarTipoPago" />
  <xs:element name="buscarTipoPagoResponse" type="tns:buscarTipoPagoResponse" />
  <xs:element name="eliminarTipoPago" type="tns:eliminarTipoPago" />
  <xs:element name="eliminarTipoPagoResponse" type="tns:eliminarTipoPagoResponse" />
  <xs:element name="modificarTipoPago" type="tns:modificarTipoPago" />
  <xs:element name="modificarTipoPagoResponse" type="tns:modificarTipoPagoResponse" />
  <xs:element name="obtenerTipoPago" type="tns:obtenerTipoPago" />
  <xs:element name="obtenerTipoPagoResponse" type="tns:obtenerTipoPagoResponse" />
  <xs:complexType name="obtenerTipoPago">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerTipoPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreTipoPago" type="xs:string" />
      <xs:element name="tipoPagoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarTipoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoPago" type="tns:tipoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarTipoPagoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarTipoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoPago" type="tns:tipoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTipoPagoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="buscarTipoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarTipoPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tipoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTipoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTipoPagoResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>