SushiApp/Service References/wsCategoria/ServiceCategoriaProducto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarCategoriaProducto" type="tns:agregarCategoriaProducto" />
  <xs:element name="agregarCategoriaProductoResponse" type="tns:agregarCategoriaProductoResponse" />
  <xs:element name="buscarCategoriaProducto" type="tns:buscarCategoriaProducto" />
  <xs:element name="buscarCategoriaProductoResponse" type="tns:buscarCategoriaProductoResponse" />
  <xs:element name="eliminarCategoriaProducto" type="tns:eliminarCategoriaProducto" />
  <xs:element name="eliminarCategoriaProductoResponse" type="tns:eliminarCategoriaProductoResponse" />
  <xs:element name="modificarCategoriaProducto" type="tns:modificarCategoriaProducto" />
  <xs:element name="modificarCategoriaProductoResponse" type="tns:modificarCategoriaProductoResponse" />
  <xs:element name="obtenerCategoriaProducto" type="tns:obtenerCategoriaProducto" />
  <xs:element name="obtenerCategoriaProductoResponse" type="tns:obtenerCategoriaProductoResponse" />
  <xs:complexType name="eliminarCategoriaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCategoriaProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerCategoriaProducto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerCategoriaProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaProducto">
    <xs:sequence>
      <xs:element name="categoriaProductoId" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCategoria" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarCategoriaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarCategoriaProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:categoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarCategoriaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaProducto" type="tns:categoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarCategoriaProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarCategoriaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaProducto" type="tns:categoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCategoriaProductoResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>