SushiApp/Service References/wsCategoria/ServiceCategoriaProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceCategoriaProducto" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/SushiBackend9/ServiceCategoriaProducto?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="obtenerCategoriaProducto">
    <part name="parameters" element="tns:obtenerCategoriaProducto" />
  </message>
  <message name="obtenerCategoriaProductoResponse">
    <part name="parameters" element="tns:obtenerCategoriaProductoResponse" />
  </message>
  <message name="eliminarCategoriaProducto">
    <part name="parameters" element="tns:eliminarCategoriaProducto" />
  </message>
  <message name="eliminarCategoriaProductoResponse">
    <part name="parameters" element="tns:eliminarCategoriaProductoResponse" />
  </message>
  <message name="modificarCategoriaProducto">
    <part name="parameters" element="tns:modificarCategoriaProducto" />
  </message>
  <message name="modificarCategoriaProductoResponse">
    <part name="parameters" element="tns:modificarCategoriaProductoResponse" />
  </message>
  <message name="agregarCategoriaProducto">
    <part name="parameters" element="tns:agregarCategoriaProducto" />
  </message>
  <message name="agregarCategoriaProductoResponse">
    <part name="parameters" element="tns:agregarCategoriaProductoResponse" />
  </message>
  <message name="buscarCategoriaProducto">
    <part name="parameters" element="tns:buscarCategoriaProducto" />
  </message>
  <message name="buscarCategoriaProductoResponse">
    <part name="parameters" element="tns:buscarCategoriaProductoResponse" />
  </message>
  <portType name="ServiceCategoriaProducto">
    <operation name="obtenerCategoriaProducto">
      <input wsam:Action="http://WebService/ServiceCategoriaProducto/obtenerCategoriaProductoRequest" message="tns:obtenerCategoriaProducto" />
      <output wsam:Action="http://WebService/ServiceCategoriaProducto/obtenerCategoriaProductoResponse" message="tns:obtenerCategoriaProductoResponse" />
    </operation>
    <operation name="eliminarCategoriaProducto">
      <input wsam:Action="http://WebService/ServiceCategoriaProducto/eliminarCategoriaProductoRequest" message="tns:eliminarCategoriaProducto" />
      <output wsam:Action="http://WebService/ServiceCategoriaProducto/eliminarCategoriaProductoResponse" message="tns:eliminarCategoriaProductoResponse" />
    </operation>
    <operation name="modificarCategoriaProducto">
      <input wsam:Action="http://WebService/ServiceCategoriaProducto/modificarCategoriaProductoRequest" message="tns:modificarCategoriaProducto" />
      <output wsam:Action="http://WebService/ServiceCategoriaProducto/modificarCategoriaProductoResponse" message="tns:modificarCategoriaProductoResponse" />
    </operation>
    <operation name="agregarCategoriaProducto">
      <input wsam:Action="http://WebService/ServiceCategoriaProducto/agregarCategoriaProductoRequest" message="tns:agregarCategoriaProducto" />
      <output wsam:Action="http://WebService/ServiceCategoriaProducto/agregarCategoriaProductoResponse" message="tns:agregarCategoriaProductoResponse" />
    </operation>
    <operation name="buscarCategoriaProducto">
      <input wsam:Action="http://WebService/ServiceCategoriaProducto/buscarCategoriaProductoRequest" message="tns:buscarCategoriaProducto" />
      <output wsam:Action="http://WebService/ServiceCategoriaProducto/buscarCategoriaProductoResponse" message="tns:buscarCategoriaProductoResponse" />
    </operation>
  </portType>
  <binding name="ServiceCategoriaProductoPortBinding" type="tns:ServiceCategoriaProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerCategoriaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCategoriaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCategoriaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarCategoriaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarCategoriaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceCategoriaProducto">
    <port name="ServiceCategoriaProductoPort" binding="tns:ServiceCategoriaProductoPortBinding">
      <soap:address location="http://localhost:8084/SushiBackend9/ServiceCategoriaProducto" />
    </port>
  </service>
</definitions>